@page "/register"
@using Microsoft.AspNetCore.Components.Forms;
@using dentist_model
<div class="container-signup">
    <EditForm Model="@user" class="form-signup">
        <DataAnnotationsValidator/>

        <h1 class="h3 mb-0 fw-bold text-center color-text">
            SignUp
        </h1>






        <p class="fw-bold text-center mb-0 mt-1">Upload your image</p>
        <div class="container-img">
            <img id="ProfileImg"
                 src="/Images/Untitled.jpeg"
                 alt=""
                 width="125"
                 height="125" />

            <label action="" class="profilechange">
                <input id="ProfileName"
                       type="file"
                       class="input_i input_i_purple"
                       @onchange="onFileSelected"
                        />
                <i class="fas fa-camera profileicon"></i>
            </label>
        </div>









        <label class="fw-bold">First Name </label>
        <div class="mb-2 input-container">
            <InputText
                   id="fname"
                   @bind-Value="@user.Fname"
                   name="Fname"
                   style="padding-left:3rem;"
                   class="form-control input_i"
                   placeholder="Enter your first Name"
                   />
            <i class="fas fa-user icon"></i>
        </div>
        <ValidationMessage For="@(() => user.Fname)" style="text-align:center" />

        <label class="fw-bold">Last Name</label>
        <div class="mb-2 input-container">
            <InputText
                   id="lname"
                   @bind-Value="@user.Lname"
                   name="Lname"
                   style="padding-left:3rem;"
                   class="form-control input_i"
                   placeholder="Enter your last Name"
                   />
            <i class="fas fa-user icon"></i>
        </div>
        <ValidationMessage For="@(() => user.Lname)" style="text-align:center" />

        <label class="fw-bold">Age</label>
        <div class="mb-2 input-container">
            <InputNumber
                   id="num"
                   @bind-Value="@user.Age"
                   name="Age"
                   style="padding-left:3rem;"
                   class="form-control input_i"
                   placeholder="Enter your Age"
                   />
            <i class="fas fa-user-friends icon"></i>
        </div>
        <ValidationMessage For="@(() => user.Age)" style="text-align:center" />

        <label class="fw-bold">Phone</label>
        <div class="mb-2 input-container">
            <InputText
                   id="Phone"
                   @bind-Value="@user.Phone"
                   name="Phone"
                   style="padding-left:3rem;"
                   class="form-control input_i"
                   placeholder="Enter your Phone"
                   />
            <i class="fas fa-phone-alt icon"></i>
        </div>
        <ValidationMessage For="@(() => user.Phone)" style="text-align:center" />




        <label for="inputEmail" class="fw-bold"> Email Address </label>
        <div class="input-container mb-4">
            <InputText
                   id="inputEmail"
                   @bind-Value="@user.Email"
                   style="padding-left:3rem;"
                   class="form-control input_i"
                   placeholder="Enter your email"
                   autofocus
                   />
            <i class="fas fa-envelope icon"></i>
        </div>
        <ValidationMessage For="@(() => user.Email)" style="text-align:center" />

        <label for="inputPassword" class="fw-bold"> Password </label>
        <div class="mb-3 input-container">
            <InputText
                   id="inputPassword"
                   @bind-Value="@user.Password"
                       style="padding-left:3rem;"
                       class="form-control input_i"
                   placeholder="Enter your password"
                   />
            <i class="fas fa-lock icon"></i>
            @*<span class="span-eye">
                <i class="fas fa-eye"></i>
            </span>*@
        </div>
        <ValidationMessage For="@(() => user.Password)" style="text-align:center" />

        <label for="inputPassword" class="fw-bold"> Confirm Password </label>
        <div class="mb-4 input-container">
            <InputText
                   id="ConPassword"
                   @bind-Value="@user.ConfirmPassword"
                       style="padding-left:3rem;"
                       class="form-control input_i"
                   placeholder="Enter your password"
                   />
            <i class="fas fa-lock icon"></i>
           @* <span class="span-eye-confirm">
                <i class="fas fa-eye"></i>
            </span>*@
        </div>
        <ValidationMessage For="@(() => user.ConfirmPassword)" style="text-align:center"/>

        <button type="submit"
                class="mb-2 btn btn-lg btn-block fw-bold button"
                @onclick="Adduser">
            Finish
        </button>
    </EditForm>
</div>

@code {
    [Inject]
    public IJSRuntime navjs { get; set; }
    [Inject]
    public IUserservice userservice { get; set; }
    [Inject]
    public NavigationManager navigat { get; set; }
    public UserDtos user { get; set; } = new UserDtos();
    public int MyProperty { get; set; }

    protected override async void OnAfterRender(bool firstRender)
    {
        //await navjs.InvokeVoidAsync("hidenave");
    }
    public async void Adduser()
    {
        UserDtos newuser = new UserDtos()
        {
            Fname = user.Fname,
            Lname = user.Lname,
            Age = user.Age,
            Phone = user.Phone,
            Email = user.Email,
            Password = user.Password
        };
        var response = userservice.AddUser(newuser);
        navigat.NavigateTo("/login");
    }
    public async void onFileSelected()
    {
        await navjs.InvokeVoidAsync("onFileSelected");
    }
}